<div gdAreas="_id _id | index age | name gender | favoriteFruit favoriteColor" gdGap="16px" gdRows="auto auto auto"
  gdAreas.lt-md="_id | index | age | name | gender | favoriteFruit | favoriteColor" gdRows.lt-md="auto auto auto auto auto auto auto">
  <div gdArea="_id">
    _id
  </div>
  <div gdArea="index">
    index
  </div>
  <div gdArea="age">
    age
  </div>
  <div gdArea="name">
    name
  </div>
  <div gdArea="gender">
    gender
  </div>
  <div gdArea="favoriteFruit">
    favoriteFruit
  </div>
  <div gdArea="favoriteColor">
    favoriteColor
  </div>
</div>
