<div gdAreas="_id _id | index age | name gender | favoriteFruit favoriteColor" gdGap="16px" gdRows="auto auto auto"
  gdAreas.lt-md="_id | index | age | name | gender | favoriteFruit | favoriteColor" gdRows.lt-md="auto auto auto auto auto auto auto">
  <div gdArea="_id">
    id: {{id}}
  </div>
  <div gdArea="index">
    index: {{index}}
  </div>
  <div gdArea="age">
    age: {{age}}
  </div>
  <div gdArea="name">
    name: {{name}}
  </div>
  <div gdArea="gender">
    gender: {{gender}}
  </div>
  <div gdArea="favoriteFruit">
    favoriteFruit: {{favoriteFruit}}
  </div>
  <div gdArea="favoriteColor">
    favoriteColor: {{favoriteColor}}
  </div>
</div>
