$color_1: #369;
$font_family_1: Arial, Helvetica, sans-serif;

h1 {
	color: $color_1;
	font-family: $font_family_1;
	font-size: 250%;
}


.surveyList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: flex-start;
  /* Column Gap */
	>* {
    box-sizing: border-box;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
/* Item sizing */
.surveyListItem {
	flex: 0 1 calc(33.3% - 32px);
}
/* medium size viewport */
@media screen and (max-width: 959px) {
    /* Column Gap */
	.surveyList {
		>* {
			&:not(:last-child) {
				margin-right: 32px;
			}
		}
  }
  /* Item sizing */
	.surveyListItem {
		flex: 0 1 calc(50% - 32px);
	}
}
/* small size viewport */
@media screen and (max-width: 599px) {
	.surveyList {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		>* {
			&:not(:last-child) {
				margin-right: unset;
				margin-bottom: 32px;
			}
		}
	}
}

